.fetch-btn{
    background-color: rgba(218, 151, 151, 0.425);
    padding: 10px 20px;
    border: none;
    color: rgba(33, 47, 56, 0.856);
    margin: 20px;
    cursor: pointer;
    border-radius: 3px;
}