.App {
  padding: 50px 30px;
  text-align: center;
  
}

.nav-link.active {
  color: rgba(0, 0, 255, 0.4);
  background-color: rgba(255, 0, 0, 0.4);
  
}

.nav {
  max-width: 200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.nav-link{
  padding: 10px 20px;
  text-decoration: none;
  color: rgba(255, 0, 0, 0.473);
  background-color: rgba(0, 0, 255, 0.4);
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  text-shadow: 0 0 6px cornsilk;
}
.nav-link:hover{
  box-shadow: 4px 4px 5px black;
}